{{ partial "header.html" . }}
      <main>
        {{ if .IsHome }}
        <div class="home-content">{{ .Content }}</div>
        {{ else }}
        <h2 class="page-title">Posts</h2>
        <ul class="posts">
          {{ range .Pages.ByDate.Reverse }}
          <li>
            <span class="p-date">{{ .Date.Format "2006.01.02" }}</span>
            <span class="p-main">
              <span class="p-title"><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></span>
              {{ with .Params.description }}<span class="p-desc">{{ . }}</span>{{ end }}
              {{ with .Params.categories }}<span class="p-tag">{{ index . 0 }}</span>{{ end }}
            </span>
          </li>
          {{ end }}
        </ul>
        {{ end }}
      </main>
{{ partial "footer.html" . }}
